.movie-detalis {
  &__wrapper {
    display: flex;
    margin-bottom: 15px;
    min-width: 320px;
    flex-direction: column;
    @media screen and(min-width: 768px) {
      flex-direction: row;
    }
  }

  &__discription {
    padding: 0;
    list-style: none;
  }

  &__poster {
    margin-right: 20px;

    @media screen and(max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__genres {
    list-style: none;
    padding: 0;
  }

  &__additionally {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  &__list-additionally {
    list-style: none;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }
  &__link {
    text-decoration: none;
  }
}
